.alt-container {
  background-image: linear-gradient(to right bottom, #333d77, #001431);
  width: 100vw;
  height:100vh;
  position:relative;
  font-family: "Poppins";
}

  .alt__homescreen__header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
  }

  .alt__homescreen__heading {
    text-transform: lowercase;
    font-size: 10.5rem;
    color: #F05454;
    letter-spacing: 3.5rem;
    font-family: "Poppins";
    font-weight: 600;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    margin-right: -3.5rem;
    }

    

    .alt__footer__slogan {
      margin-top: 4px;
      font-size: 2.5rem;
      /* font-weight: bolder; */
      text-transform: uppercase;
      font-family: "Poppins";
      letter-spacing: 1.6rem;
      margin-right: -1.6rem;
      }
      
      
      .primary__blue {
      color:#d0d0d0
      }


      /* .login__container {
        width:75%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        height: 300px;
        background: rgba(255,255,255,0.1);
        box-shadow: 0 3px 23px 0 rgba(36, 36, 36, 0.37);
        backdrop-filter: blur(.3px);
        border-radius: 10px;
        border: 1px solid rgba(255,255,255 0.18)
      } */
