.alt-container {
  background-image: linear-gradient(to right bottom, #30475E, #222831);
  width: 100vw;
  height:100vh;
  position:relative;
  font-family: "Poppins";
}

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #d0d0d0;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#ac3535, #ff6d6d);
  z-index: 1000;
  transition: transform 1.3s  }
/* /cubic-bezier(0.86, 0, 0.07, 1); */
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 4.5rem;
  font-family: 'Poppins';
  font-weight: 400;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 235%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #F05454;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: .1rem;
    background-color: #F05454;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button::hover .navigation__icon::before {
  top: -1; }

.navigation__button::hover .navigation__icon::after {
  top: 1; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

  .alt__homescreen__header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
  }

  .alt__homescreen__heading {
    text-transform: lowercase;
    font-size: 10.5rem;
    color: #F05454;
    letter-spacing: 3.5rem;
    font-family: "Poppins";
    font-weight: 600;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    margin-right: -3.5rem;
    }

    

    .alt__footer__slogan {
      margin-top: 4px;
      font-size: 2.5rem;
      /* font-weight: bolder; */
      text-transform: uppercase;
      font-family: "Poppins";
      letter-spacing: 1.6rem;
      margin-right: -1.6rem;
      }
      
      
      .primary__blue {
      color:#d0d0d0
      }


      /* .login__container {
        width:75%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        height: 300px;
        background: rgba(255,255,255,0.1);
        box-shadow: 0 3px 23px 0 rgba(36, 36, 36, 0.37);
        backdrop-filter: blur(.3px);
        border-radius: 10px;
        border: 1px solid rgba(255,255,255 0.18)
      } */
