.homescreen__header{
  background-color: rgb(102, 102, 102);
  height: 49.5vh;
  clip-path: polygon(100% 0, 100% 53%, 0 100%, 0 1%);
  position: relative;
  margin-top: -4rem;
}


.homescreen__header:after {
-webkit-clip-path: polygon(100% 29%, 100% 47%, 0 100%, 0 76%);
clip-path: polygon(100% 29%, 100% 47%, 0 100%, 0 76%);
background: #58ccf7;
content: '';
position: absolute;
left: 0;
top: 22%;
right: 0;
height: 100%;
display: block;
z-index: 9;
}

.heading__box {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -80%);
}


.homescreen__heading {
text-transform: uppercase;
font-size: 10.5rem;
color: white;
letter-spacing: 1.84rem;
font-family: "Lato";
font-weight: 700;
text-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.footer__slogan {
margin-top: 4px;
bottom: 1.4rem;
font-size: 3rem;
font-weight: bolder;
text-transform: uppercase;
font-family: "Lato";
letter-spacing: 1.3rem;
}


.primary__blue {
color:#58ccf7;
}
