.footer-border{
  background-color: rgb(102, 102, 102);
  height: 20.2vh;
  clip-path: polygon(17% 100%, 100% 4%, 100% 100%, 8% 100%);
  -webkit-clip-path: polygon(17% 100%, 100% 4%, 100% 100%, 8% 100%);
  position: relative;
}

.footer-border:after {
  -webkit-clip-path: polygon(12% 100%, 100% 0, 100% 8.5%, 21% 100%);
  clip-path: polygon(12% 100%, 100% 0, 100% 8.5%, 21% 100%);
  background: #58ccf7;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  display: block;
  z-index: 9;
  }
